body {
  font-family: fantasy;
  background: url(http://www.planwallpaper.com/static/images/6806129-pretty-backgrounds.jpg);
}

h1 {
  text-align: center;
  font-weight: bold;
  color: blue;
}

h3 {
  color: green;
}

p {
  font-size: 20px;
  color: red;
}

.playerMenu {
  width: 100%;
  text-align: center;
}
